@use "@/styles/colors" as *;
@use "@/styles/typography" as *;

.button,
.link {
  border-radius: 8px;
  @include setFont(16px, 500, 16px);
  transition: all 0.3s linear;
  cursor: pointer;

  &.light {
    height: 40px;
    padding: 9.5px;
    background-color: transparent;
    border: 1.5px solid $border-gray-color;

    &:hover {
      border-color: $icons-and-border-color;
    }
  }

  &.dark {
    background-color: $dark-button-color;
    border: none;
    color: $white-color;
    padding: 16px 20px;

    &:hover {
      background-color: $dark-button-color-hover;
    }
  }

  &.withoutBorder {
    border: none;
  }

  &.left .buttonWithIconContainer {
    flex-direction: row-reverse;
  }

  &:disabled {
    opacity: 0.2;
    cursor: default;
  }
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s linear;

  &:hover {
    color: $dark-button-color-hover;
  }
}

.buttonWithIconContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  transition: color 0.3s linear;

  &:hover {
    color: $dark-button-color-hover;
  }
}

.icon {
  width: 16px;
  height: 16px;
}
