$gray-color: #00000080;
$border-teams-color: #61aee4;
$border-gray-color: #d5e0e8;
$icons-and-border-color: #fc5c17;
$header-gray-color: #eaebed;
$dark-button-color: #1c336c;
$dark-button-color-hover: #1c336cd0;
$white-color: #fff;
