$gray-color: #00000080;
$border-teams-color: #61aee4;
$border-gray-color: #d5e0e8;
$icons-and-border-color: #fc5c17;
$header-gray-color: #eaebed;
$dark-button-color: #1c336c;
$dark-button-color-hover: #1c336cd0;
$white-color: #fff;
$black-color: #000000;
$european-increase-color: #c82d2d;
$european-decrease-color: #29b4de;
$champions-increase-color: #1c336c;
$champions-decrease-color: #001694;
$championship-increase-color: #89e96f;
$championship-decrease-color: #ff5f5f;
$constant-color: #a7a7a7;
$breadcrumb-background-color: #eeeff2;
$current-path-color: #1c336c80;
